<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>제이쿼리</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <style>
        #test1 {
            background: rgb(106, 170, 54);
            width: 800px;
            height: 40px;
            cursor: pointer
        }

        #test2 {
            background: rgb(31, 142, 170);
            width: 800px;
            height: 60px;
            display: none;
            cursor: pointer
        }

        #test3 {
            background: lightcoral;
            width: 300px;
            height: 20px;
            cursor: pointer
        }

        button {
            cursor: pointer
        }


        #bar22 {
            width: 300px;
            height: 2px;
            background-color: red;
        }

        #fish3 {
            position: relative;
            width: 40px;
        }

        #dropingSelection {
            width: 300px;
            height: 30px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#test1").mouseover(function () {
                $("#test2").slideToggle(700)

            });

            $("#test2").mouseleave(function () {
                $("#test2").slideToggle(1000)
            });

            $(".bu2").click(function () {
                $("#div1").fadeToggle(2000);
                $("#div2").fadeToggle("slow");
                $("#div3").fadeToggle();
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script>

        var position = 0;

        function moving3() {
            var keycode = event.keyCode;
            var fish3 = $('#fish3');
            if (keycode == 39) {
                $('#fish3').animate({ left: "+=240" }, 1000);
            } else if (keycode == 37 && position > 0) {
                position -= 20;
            }
            console.log(keycode);
            fish3.style.left = position.toString() + "px";
        }

        $(document).ready(function () {
            $('#btnStart22').click(function (event) {
                $('#fish3').animate({ left: 240 }, 1000);
                position = 240;
            });
            $('#btnBack').click(function (event) {
                $('#fish3').animate({ left: 0 }, 1000);
                position = 0;
            });
            $('#btnStart23').click(function (event) {
                $('#fish3').animate({ top: "+=100" }, 500);
                position = 240;
            });
            $('#btnStart24').click(function (event) {
                $('#fish3').animate({ top: "-=100" }, 500);
                position = 240;
            });
        });


    </script>
    <script language="JavaScript">
        window.addEventListener("load", function () {

            var input = document.getElementById("input1");

            // 문자 코드(아스키 대소문자 구분): 눌린 키의 해당 문자를 얻고자 할 때
            input.addEventListener("keypress", function (evt) {
                var charCode = event.which || event.keyCode; // keyCode는 IE8이전에서 사용
                var ch = String.fromCharCode(charCode);
                console.log("press:" + charCode + '(' + ch + ')');
            });

            // 키 코드 (대소문자 구분 없이 동일한 숫자가 리턴됨):
            // 눌린 키를 식별하고자 할 때(방향키, ESC, Ctrl, Shift, Alt 키등)
            input.addEventListener("keydown", function (evt) {
                var keyCode = event.which || event.keyCode;
                console.log("down:" + keyCode);
                if (keyCode == 40) {
                    $('#fish3').animate({ top: "+=4" }, 1);
                }
                if (keyCode == 39) {
                    $('#fish3').animate({ left: "+=4" }, 1);
                }
                if (keyCode == 38) {
                    $('#fish3').animate({ top: "-=4" }, 1);
                }
                if (keyCode == 37) {
                    $('#fish3').animate({ left: "-=4" }, 1);
                }
                const target = $('#fish3'); // 요소의 id 값이 target이라 가정
                const clientRect = target.offsetHeight; // DomRect 구하기 (각종 좌표값이 들어있는 객체)
                const relativeTop = target.offsetLeft; // Viewport의 시작지점을 기준으로한 상대좌표 Y 값
                console.log(clientRect, relativeTop)
            });
        });
    </script>


</head>

<body>
    <nav>
        <div id="test1">navigation</div>
        <div id="test2" style="position:fixed;  z-index: 1">
            <div>
                <a href=" https://www.naver.com/">
                    go to naver
                </a>
            </div>
            <div>
                <a href="http://localhost:3838/">

                    go to mysite
                </a>
            </div>
        </div>
    </nav>
    <nav style="position:fixed; margin-top:5px;  ">
        <button class="bu2" style="border:solid; width:200px; height:80px;  margin-top:20px; z-index: 2">사라락
            사라져요</button><br><br>
        <div id="div1" style="width:80px;height:80px;background-color:red;"></div> <br>
        <div id="div2" style="width:80px;height:80px;background-color:green;"></div> <br>
        <div id="div3" style="width:80px;height:80px;background-color:blue;"></div>
    </nav>
    <nav style="position:fixed; margin-top:300px; margin-left:400px;">
        <div id="dropingSelection"> </div>
        <img src="C:\apps\mysite\static\img\다운로드.jpg" alt="물고기!" id="fish3">
        <div id="bar22"></div>

        <div>
            <button id="btnBack" style="margin: 10px;">물고기 왼쪽</button><button id="btnStart22">물고기
                오른쪽</button><br /> <button id="btnStart23" style="margin: 10px;">물고기
                내려간다!</button> <button id="btnStart24">물고기
                올라간다!</button><br /><input type="button" name="name" id="input1" value="여기를 누르고">키보드로 조작가능

        </div>
    </nav>

</body>

</html>